<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Puedes poner URL local y prod diferentes -->
    <add key="RemoteUrl.Local" value="https://eservicios2.aguascalientes.gob.mx/geawsns/api/gea/ptl/ws/agente" />
    <add key="RemoteUrl.Prod"  value="https://eservicios2.aguascalientes.gob.mx/geawsns/api/gea/ptl/ws/agente" />

    <add key="ApiUser.Local" value="apipgea" />
    <add key="ApiPass.Local" value="7BD%k8u9@=" />

    <add key="ApiUser.Prod" value="apipgea" />
    <add key="ApiPass.Prod" value="7BD%k8u9@=" />
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.html" />
        <add value="index.html" />
        <add value="GeaAsistenteVirtual.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
