<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <appSettings>
    <add key="RemoteUrlAgenteDinamico.Local" value="https://eservicios2.aguascalientes.gob.mx/AgentesAI/api/search/agente-dinamico" />
    <add key="RemoteUrlAgenteDinamico.Prod"  value="https://eservicios2.aguascalientes.gob.mx/AgentesAI/api/search/agente-dinamico" />

    <add key="ApiUserAgenteDinamico.Local" value="agentaigea" />
    <add key="ApiPassAgenteDinamico.Local" value="7x#3U03vP_@4g" />
    <add key="ApiUserAgenteDinamico.Prod" value="agentaigea" />
    <add key="ApiPassAgenteDinamico.Prod" value="7x#3U03vP_@4g" />

    <add key="CorsAllowedOrigins" value="http://localhost:8084,https://desarrolloweb.aguascalientes.gob.mx" />

    <add key="ElevenLabsApiKey.Local" value="22f45c0536f547e3e8c6a1aa9fe75f6be2e114248d637f54f345226339736654" />
    <add key="ElevenVoiceId.Local" value="iBGVhgcEZS6A5gTOjqSJ" />
    <add key="ElevenModelId.Local" value="eleven_multilingual_v2" />

    <add key="ElevenLabsApiKey.Prod" value="22f45c0536f547e3e8c6a1aa9fe75f6be2e114248d637f54f345226339736654" />
    <add key="ElevenVoiceId.Prod" value="iBGVhgcEZS6A5gTOjqSJ" />
    <add key="ElevenModelId.Prod" value="eleven_multilingual_v2" />
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.html" />
        <add value="index.html" />
        <add value="GeaAsistenteVirtual.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>